h3{color:royalblue;
background-color: seashell;
}
body{
    background-color:palevioletred
}
.w3-quarter{
    margin-right: 90px;
}
.w3-container{
    color: turquoise;
    background-color:black;
    
}